@import "../../scss/main.scss";

.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__forms {
    margin-top: 3rem;
  }

  &__group {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
