@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

@mixin font-small {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

@mixin font-standard {
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

@mixin heading1 {
  font-family: "Work Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@mixin heading2 {
  font-family: "Work Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@mixin heading3 {
  font-family: "Work Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
